<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat MongoDB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chatStyles.css">
</head>

<body>
    <div class="container">
        <div class="chat">
            <h3 class="text-center">Chat MongoDB</h3>
            <div class="chatbox" id="chatbox">
                {{#each messages}}
                <div class="message" user="{{this.user}}">
                    <div class="email">{{this.user}}</div>
                    <div class="text">{{this.message}}</div>
                    <div class="date">{{this.date}}</div>
                </div>
                {{/each}}
            </div>
            <form id="newMessage" class="mb-3">
                <h4>Mensaje</h4>
                <textarea name="message" id="message" cols="20" rows="1" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/chatScocketClient.js"></script>
</body>

</html>
