<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/usersStyles.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center">Registrate</h2>
        <div class="user register">
            {{#if message }}
            <div class="alert {{message.type}}">
                <div class="title">{{message.title}}</div>
                <div class="text">{{message.text}}</div>
            </div>
            {{/if}}
            <form method="post" action="/register">
                <div class="form-group">
                    <label for="first_name">Nombre</label>
                    <input name="first_name" type="text" class="form-control" required pattern="^[A-Z][a-z]+( [A-Z][a-z]+)*$" title="Formato: Mmmmm Mmmmm">
                    <div class="invalid"></div>
                </div>
                <div class="form-group">
                    <label for="last_name">Apellido</label>
                    <input name="last_name" type="text" class="form-control" required pattern="^[A-Z][a-z]+( [A-Z][a-z]+)*$" title="Formato: Mmmmm Mmmmm">
                    <div class="invalid"></div>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input name="email" type="email" class="form-control" required>
                    <div class="invalid" title="Correo electrónico es obligatório"></div>
                </div>
                <div class="form-group">
                    <label for="age">Edad</label>
                    <input name="age" type="number" class="form-control" required title="Debe ser un numero entero mayor que 0">
                    <div class="invalid" title="Debe ser un numero entero mayor que 0"></div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input name="password" type="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,120}$" title="Debe tener al entre 8 y 120 caracteres, al menos una mayúscula, una minúscula y un caracter especial.">
                    <div class="invalid" title="Debe tener al entre 8 y 120 caracteres, al menos una mayúscula, una minúscula y un caracter especial."></div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>

            <div class="login mt-3">
                <p>¿Ya tienes una cuenta?</p>
                <a href="/login" class="btn btn-link">Inicia sesión haciendo clic aquí</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
