/* Estilos generales para el chat MongoDB */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.chat {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatbox {
  max-height: 300px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.email {
  font-weight: bold;
}

.date {
  font-size: 0.8rem;
  color: #666;
}

#newMessage {
  margin-top: 20px;
}
